@use "@/styles/variables/breakpoints.scss" as *;

.appBorder {
  --border-width: 6px;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 0 calc(var(--border-width) * 3) #fff;
  height: calc(100vh - var(--border-width) * 2);
  left: var(--border-width);
  padding: 2rem;
  overflow: hidden;
  position: fixed;
  top: var(--border-width);
  transform: translate(0px, 0px);
  transition: 0.5s transform ease-out;
  width: calc(100% - var(--border-width) * 2);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $smBreakpoint) {
    --border-width: 0px;
    padding: 1rem 4px;
    border-radius: 0;
  }
}
