@import "../mixins/hover/hover.scss";

$scale-active: 0.92;
$border-radius: 4px;

.header {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  justify-content: space-between;
  justify-self: center;
  z-index: 1000;
  flex-grow: 1;
  width: 100%;
  top: 1rem;
  padding: 0 1rem;
  position: absolute;
  user-select: none;

  &__left {
    align-items: center;
    display: flex;
    gap: 8px;

    a {
      transition: all 200ms ease-in-out;

      &:active {
        transform: scale($scale-active);
      }
    }
  }

  &__right {
    align-items: center;
    display: flex;
    gap: 8px;
    width: fit-content;
    position: relative;

    .userMenu {
      position: relative;

      .userImage {
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;

        &:active {
          transform: scale($scale-active);
        }
      }

      .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6px;
        top: 120%;
        right: 0;
        width: auto;
        height: auto;
        padding: 1rem;
        border-radius: $border-radius;
        backdrop-filter: blur(4px);
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        opacity: 0;
        transform: translateY(-6px);
        white-space: nowrap;
        background-color: #ffffff15;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.521);
        text-transform: uppercase;

        svg {
          width: 16px;
          height: 16px;
        }

        button {
          display: flex;
          align-items: center;
          gap: 4px;
          text-transform: uppercase;
          font-size: 12px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
          letter-spacing: -0.04em;
          @include brackets;
        }

        &.active {
          opacity: 1;
          transform: translateY(0);
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
  }
}
