@use "@/styles/tokens/breakpoints" as *;
@use "@/styles/tokens/colors" as *;

$positionFromTop: 4rem;

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem; // clears the fixed header

  @media screen and (min-width: $bp-sm) {
    gap: 4rem;
    max-width: 2440px;
    padding-top: 6rem;
  }
}
