@use "@/styles/variables/breakpoints.scss" as *;
@use "@/styles/variables/colors.scss" as *;

$positionFromTop: 4rem;

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 0.5rem;

  & > :first-child {
    border-radius: 1rem;
  }

  .backLink {
    position: fixed;
    display: flex;
    left: 1rem;
    z-index: 10;
    top: $positionFromTop;
    font-weight: 500;
    top: 6.5rem;
  }
}
