@use "@/styles/tokens/colors" as *;

.topTrack {
  display: flex;
  gap: 8px;

  img {
    width: 48px;
    height: 48px;
    aspect-ratio: 1 / 1;
    object-position: center;
    object-fit: cover;
  }
}

.topTrackInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  font-size: 14px;
  flex: 1;

  &__album {
    display: flex;
    gap: 4px;
    color: rgba($black, 0.4);
  }

  &__name {
    width: 200px;
    max-width: 200px;
  }
}
