@use "../../styles/variables/breakpoints.scss" as *;

.artistsPage {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
}

.artists {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 100%;

  &__title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: -0.06em;
    text-transform: uppercase;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: 2rem;
      margin-bottom: 0rem;
    }
  }

  &__carousel {
    width: 100%;
    overflow: hidden;
    padding: 2rem 2rem;

    @media screen and (max-width: $sm-breakpoint) {
      padding: 0rem 1rem;
    }
  }
}
