@use "../../styles/variables/breakpoints.scss" as *;

.artists {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: -0.06em;
    margin-bottom: 2rem;
    text-transform: uppercase;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: 2rem;
      margin-bottom: 0rem;
    }
  }

  &__carousel {
    padding: 2rem 2rem;
    width: 100%;
  }
}

.sharedImageContainer {
  position: absolute;
  top: 0;
  left: 50%;
  // pointer-events: none; // so it doesn’t block UI
  z-index: 1000; // above everything else
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
