@use "../../styles/variables/colors.scss" as *;
@use "../../styles/variables/breakpoints.scss" as *;

$bar-spacing: 1.5rem;

.genres {
  gap: 2rem !important;
  padding: 0 1rem;
  height: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr min-content;
    gap: 2rem;
    width: 60%;

    @media screen and (max-width: $sm-breakpoint) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      width: 100%;
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    // background: $gray-light;
    background: linear-gradient(to right, #f97316, #facc15);
    padding: 1rem;
    color: $off-white;

    @media screen and (max-width: $sm-breakpoint) {
      display: none;
    }
    @media screen and (prefers-color-scheme: dark) {
      background: $gray-dark;
    }
  }

  &__topGenre {
    grid-row: 2/-1;
    grid-column: 1/1;
    font-size: 1.75rem;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #f7924b, #facc15);
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $sm-breakpoint) {
      font-size: clamp(2rem, 3vw, 2.5rem);
      line-height: 1;
    }

    @media screen and (max-width: $sm-breakpoint) {
      line-height: normal;
      font-size: 2rem;
      font-weight: 800;
      flex-direction: row;
      gap: 8px;
    }
  }

  &__coloredText {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #f97316, #facc15);
    font-weight: 700;
  }

  &__description {
    grid-row: 3/-1;
    grid-column: 1/1;
    font-size: 1.125rem;
    font-weight: 500;

    @media screen and (min-width: $sm-breakpoint) {
      width: 75%;
    }

    @media screen and (max-width: $sm-breakpoint) {
      font-size: 1rem;
    }
  }

  &__data {
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $sm-breakpoint) {
      grid-row: 1/-1;
      width: 100%;
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    flex-direction: column !important;
    align-items: center;
  }

  &__bars {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: $bar-spacing/2;
    padding-left: $bar-spacing/2;

    @media screen and (prefers-color-scheme: dark) {
      border-left: 4px solid $gray-light;
    }

    @media screen and (max-width: $sm-breakpoint) {
    }
  }

  &__bar {
    display: grid;
    gap: 4px;
    width: 100%;
    align-items: center;

    @media screen and (max-width: $sm-breakpoint) {
      flex-direction: row;
    }
  }

  &__barContainer {
    border-radius: 0.25rem;
    background-color: $gray-light;
    height: $bar-spacing * 1.25;
    width: 100%;
    display: flex;
    justify-self: end;
    position: relative;
  }

  &__barPercentage {
    position: absolute;
    right: 8px;
    top: 2px;
    color: $gray-dark;
    font-weight: 600;
    font-size: 1.125rem;
  }

  &__label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 500;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: 0.875rem;
    }
  }

  &__barFill {
    border-radius: 0.25rem;
    height: 100%;
    transform-origin: bottom;
    will-change: width;
    position: relative;

    background: linear-gradient(to right, #4ade80, #22d3ee);
  }

  &__title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: -0.06em;
    text-transform: uppercase;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: 2rem;
      margin-bottom: 0rem;
    }
  }
}

.barFill--0 {
  background: linear-gradient(to right, #f97316, #facc15);
}
.barFill--1 {
  background: linear-gradient(to right, #fbbf24, #fde68a); // soft amber
}
.barFill--2 {
  background: linear-gradient(to right, #ec4899, #ef4444);
}
.barFill--3 {
  background: linear-gradient(to right, #14b8a6, #06b6d4);
}
.barFill--4 {
  background: linear-gradient(to right, #8b5cf6, #a855f7);
}
