$selectedColor: #ffb327;

.genres {
  height: 100%;
  width: 100%;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  max-width: 1400px;

  &__header {
    width: 94%;
    height: fit-content;
    position: relative;
    margin-top: 8rem;
    padding-left: 10rem;

    h1 {
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 0.8;
      letter-spacing: -4px;
      margin-bottom: 8px;
    }

    & > :nth-child(2) {
      color: rgba(255, 255, 255, 0.6);
      font-size: 1rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.8px;
      opacity: 0.6;
      position: relative;

      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: center;
    padding-left: 10rem;
    padding-right: 8rem;
    padding-top: 4rem;
    position: relative;
    gap: 1.5rem;
    line-height: 1;
    font-weight: 500;

    & .content {
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      height: 100%;
      display: flex;

      & > * {
        width: 100%;
      }

      & > :first-child {
        max-width: 500px;
      }
    }
  }

  &__filters {
    height: 10px;
    right: 21.5rem;
    top: 11rem;
    z-index: 40000;
    position: absolute;
  }

  &__chart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.selected {
  transition: all 200ms ease-out;
  border: 3px solid $selectedColor;
  padding: 4px;
}

.selectedGenre {
  color: $selectedColor;
}

.filters {
  position: absolute;
  right: -2rem;
  top: -1rem;
}
