@use "../../styles/variables/breakpoints.scss" as *;

.title {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: -0.06em;
  margin-bottom: 2rem;

  @media screen and (max-width: $sm-breakpoint) {
    font-size: 2rem;
    margin-bottom: 0rem;
  }
}

.tracks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  user-select: none;

  &__timeRange {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__carousel {
    padding: 2rem 2rem;
    width: 100%;
  }

  &__trackInfo {
    position: relative;
    width: 100%;
  }

  @media screen and (max-width: $sm-breakpoint) {
    gap: 1rem;
  }
}
