@use "../mixins/page.scss" as *;

.tracks {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__header {
    @include page-header-style;
  }

  &__filters {
    @include page-filter-style;

    & button.active {
      color: #000;
    }
  }

  &__carousel {
    height: 100%;
    display: flex;
    width: 100%;
  }
}
