@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("/fonts/GeneralSans-Variable.woff") format("woff");
}

:root {
  --background: #e8e8e8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131314;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  user-select: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: General Sans, Arial, Helvetica, sans-serif;
  letter-spacing: -0.05em;
  box-sizing: border-box;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
