@use "../../styles/variables/breakpoints.scss" as *;
@use "../../styles/variables/_colors.scss" as *;

.vinyl {
  width: 100%;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  position: relative;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  background: rgba($gray-light, 0.4);
  border-radius: 0.25rem;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
    clip-path: circle(45% at 50% 50%);
    animation: spin 10s linear infinite;
    animation-play-state: paused;
  }

  &__image--playing {
    animation-play-state: running;
  }
  &__centerDot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 6px solid rgba($off-white, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 50;
  display: flex;

  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    backdrop-filter: blur(8px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba($black, 0.2);
    box-shadow: 0 0 10px rgba($black, 0.2);
    transition: all 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      fill: $off-white;
      transition: transform 0.1s ease-in-out;
      cursor: pointer;
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
    }

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      svg {
        transform: scale(1.2);
      }
    }

    &:active {
      transform: scale(0.92);
      transition: all 80ms ease-in-out;
    }
  }
}
