@use "../../styles/variables/breakpoints.scss" as *;
@use "../../styles/variables/_colors.scss" as *;

.vinyl {
  width: 100%;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  position: relative;
  transition: all 0.2s ease-in-out;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
  }

  &__record {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(45% at 50% 50%);
    animation: spin 20s linear infinite;
    animation-play-state: paused;
    z-index: 1;

    &--playing {
      animation-play-state: running;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }

  &__spotifyIcon {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;

    aspect-ratio: 1 / 1;
    filter: drop-shadow(0 0 6px rgba($black, 0.6));
    z-index: 10;
    opacity: 1;

    @media screen and (max-width: $sm-breakpoint) {
      width: 1rem;
      height: 1rem;
      object-fit: cover;
    }
  }
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 50;
  display: flex;

  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    backdrop-filter: blur(8px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba($black, 0.2);
    box-shadow: 0 0 10px rgba($black, 0.2);
    transition: all 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      fill: $off-white;
      transition: transform 0.1s ease-in-out;
      cursor: pointer;
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
    }

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      svg {
        transform: scale(1.2);
      }
    }

    &:active {
      transform: scale(0.92);
      transition: all 80ms ease-in-out;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: spin linear 10s infinite;
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}
