.carouselWrapper {
  cursor: grab;
  width: 100%;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel {
  display: inline-flex;
  min-width: fit-content;
  gap: 2rem;
  user-select: none;
  width: 100%;
  will-change: transform;

  &__item {
    flex: 0 0 auto;
    transition: transform 0.2s ease;
  }
}
