@use "../../styles/variables/colors" as *;

.carouselContainer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.carousel {
  display: flex;
  list-style: none;
  gap: 1rem;
  overflow-x: scroll;
  position: relative;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    flex: 0 0 auto;
  }
}
