@use "../../styles/variables/colors.scss" as *;

$border-radius: 12px;
$vinyl-width: 150px;

.artistDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 0;
  height: max-content;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 400px;
  // border-left: 2px dotted rgba($off-white, 0.4);
  border-left: 2px dotted rgba(black, 0.2);

  @media (prefers-color-scheme: dark) {
    border-left: 2px dotted rgba($off-white, 0.2);
  }
  padding-left: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  font-weight: 500;

  &Title {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.countList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-weight: 500;
  padding-bottom: 4px;
}

.topTracks {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  box-sizing: border-box;
  width: 100%;

  .trackItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    font-weight: 400;
    width: 100%;
    line-height: 1.4;
    width: $vinyl-width;

    img {
      width: $vinyl-width;
      height: $vinyl-width;
      border-radius: 4px;
      object-fit: cover;
    }

    button {
      padding: 1rem;
    }
  }
}

.fallback {
  font-style: italic;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%;
  font-weight: 500;
}
