@use "../../styles/variables/breakpoints.scss" as *;
@use "../../styles/variables/_colors.scss" as *;
@use "../../styles/mixins/_selectedItem.scss" as *;

.selectedArtist {
  @include selectedItem(400px);

  &__latestRelease {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $black;
    pointer-events: none;

    & > :first-child {
      font-size: 1.25rem;
      font-weight: 500;
    }

    & > :last-child {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      height: 100%;
    }

    @media screen and (prefers-color-scheme: dark) {
      color: $off-white;
    }

    @media screen and (max-width: $sm-breakpoint) {
      display: none;
    }
  }

  &__latestReleaseImage {
    width: 48px;
    height: 48px;
    border-radius: 0.25rem;
  }

  &__latestReleaseName {
    & > :first-child {
      font-weight: 500;
      font-size: 1.125rem;
    }

    & > :last-child {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 0.5rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
  }

  @media screen and (max-width: $sm-breakpoint) {
    &__releaseRadar {
      display: none;
    }
  }
}
