@use "../../styles/variables/breakpoints.scss" as *;
@use "../../styles/variables/_colors.scss" as *;
@use "../../styles/mixins/_selectedItem.scss" as *;

$image-height: 300px;

.selectedArtist {
  @include selectedItem($image-height);
  height: fit-content;
  // max-height: 800px;
  // width: auto;
  // overflow: hidden;
  grid-template-rows: min-content 190px;
  place-content: center;
  border: 2px solid yellow;

  @media screen and (min-width: $xxl-breakpoint) {
    grid-template-rows: min-content 280px;
  }

  &__carousel {
    // min-height: 190px;

    .carousel__item {
      &:not(:hover) {
        filter: brightness(0.6);
      }
    }
  }

  &__latestRelease {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $black;

    & > :first-child {
      font-size: 0.875rem;
      font-weight: 400;
    }

    & > :last-child {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      height: 100%;
    }

    @media screen and (prefers-color-scheme: dark) {
      color: $off-white;
    }

    @media screen and (max-width: $sm-breakpoint) {
      display: none;
    }
  }

  &__name {
    margin-top: 2rem;
  }

  &__cover {
    background: none;
    border: none;
    width: $image-height;

    &:hover {
      background: none;
    }

    @media screen and (max-width: $sm-breakpoint) {
      align-items: flex-start;

      .spotifyProfileIcon {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 10;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__latestReleaseImage {
    width: 48px;
    height: 48px;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba($black, 0.1);
    animation: floatUpDown 2.5s ease-in-out infinite;
  }

  &__latestReleaseName {
    & > :first-child {
      font-weight: 500;
      font-size: 1rem;
    }

    & > :last-child {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 0.5rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
  }

  &__image {
    border-radius: 0.5rem;
  }

  @media screen and (max-width: $sm-breakpoint) {
    &__releaseRadar {
      display: none;
    }
  }

  @keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
