@use "../tokens/typography" as *;
@use "../tokens/colors" as *;

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "General Sans";
  src:
    url("/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("/fonts/GeneralSans-Variable.woff") format("woff");
}

body {
  font-family: $font-sans;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}

ul {
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba($black, 0.1);
  font-size: 14px;
  padding: 1rem;
  padding-left: 1rem;
}

.app {
  max-width: 2440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 1rem;
}
